<div class="container-fluid">
  <div class="row" id="row-1">
    <img src="https://github.com/jwuerch/Day50-Finished-Group-Project/blob/master/web/images/background2.jpg?raw=true" class="img-responsive">
  </div>
</div>
